<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.basketmall">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AisleCleaners"></activity>
        <activity android:name=".AislePersonalCare" />
        <activity android:name=".AisleOthers" />
        <activity android:name=".AisleDrinks" />
        <activity android:name=".AisleDryBaking" />
        <activity android:name=".AisleCannedJarred" />
        <activity android:name=".BasketHandler" />
        <activity android:name=".DateTimePicker" />
        <activity android:name=".AisleMeatFish" />
        <activity android:name=".AisleDairy" />
        <activity android:name=".AisleVegetables" />
        <activity android:name=".AisleFruit" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlertReceiver" />
    </application>

</manifest>